.DS_Store

# terraform 
terraform.tfstate
terraform.tfstate.backup
.terraform 
.terraform.**

# terraofrm workspace 
/terraform.tfstate.d
/terraform.tfstate.d/**

# terraform variable json file 
terraform.tfvars.json
.infracost